 *{
     box-sizing: border-box;
}
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
}
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}
 font-family: Arial, Helvetica, sans-serif;

 html, body {
     line-height: 1;
     float: left;
     width: 100%;
     margin: 0;
     padding: 0;
     min-width: 340px;
     font: Arial;
}


 ol, ul {
     list-style: none;
}
 blockquote, q {
     quotes: none;
}
 blockquote:before, blockquote:after, q:before, q:after {
     content: '';
     content: none;
}
 table {
     border-collapse: collapse;
     border-spacing: 0;
}
 .wrapper {
     min-height: calc(100vh - 50px);
}
 .container {
     margin: 0 auto;
     width: 100%;
     height: 100%;
     max-width: 1213px;
}
 .innerContainer {
     padding: 0 30px;
}
 h1 {
     letter-spacing: 0.5px;
}
 h2 {
     font-size: 20px;
     letter-spacing: 0.5px;
}
 a {
     text-decoration: none;
}
i{
      /*font-style: italic;*/
      color: #242222;
}


#Scalediv {
     display: none;
}

#Unreadable-title{
     display: none;
}

body > div.ui-loader.ui-corner-all.ui-body-a.ui-loader-default{
     display: none;
}

.jump{
     animation: bounce 1.2s infinite; 
}

@keyframes bounce {
    0%   { transform: translateY(0px) }
    50%  { transform: translateY(-450px) }
    /*100% { transform: translateY(0px) }*/
}

#MovesWrong{
     transform: translateY(320px);
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform:translateY(100px);
    }  
  100% {
      -webkit-transform:translateY(-450px);
  }
}

.circle {
     animation: bounce 1.8s infinite; 
}

#Tiles > g > text {
    display: none;
}

.license {
font-size: 16px;
    font-family: nunito;
    background: #f2eeeb;
    color: #514736;
}

body > p > i{
    
float: right;
    margin: 10px 21px;
    font-size: 28px;
    color: #514736;
}